*,
*::after,
*::before{
    box-sizing: border-box;
}

.ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.li{
    padding-left: 0;
}

a{
    text-decoration: none;
    color: white;
}

body{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: black;

}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.logo{
    height: 50px;
    margin-left: 39px;
    margin-top: 23px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 106px;
}

.menu{
    margin-top: 23px;
    margin-right: 22px;
}

.menu__list{
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
}

.menu__item{
    font-weight: 500;
    padding-right: 17px;
}

.menu__link{
    
}

.jumper{
    padding: 34px 0 90px 18px;
    margin-bottom: 88px;
}

.jumper__inner{
    display: flex;
    justify-content: space-between;
}

.jumper__img{
    flex-basis: 622px;
    margin-right: 29px;
    object-fit: cover;
}

.jumper__list{
    flex-basis: 282px;
    margin-right: 49px;
}

.jumper__item-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 14px;
}

.jumper__item-text{
    max-width: 275px;
    margin: 0 0 6px; 
}

.jumper__item-price{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-top: 8px;
}

.footer{
    max-width: 1000px;
    margin: 0 auto;
    background-color: black;
}

.footer__inner{
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    height: 106px;
}

.logo{
    height: 50px;
    margin-left: 39px;
    margin-top: 23px;
}

.footer__address{
    color: white;
    margin-top: 26px;
}

.footer__address-text{
    margin-bottom: 0;
    margin-top: 0;
}

.footer__contacts{
    margin-top: 26px;
    text-decoration: underline;
}

.footer__contacts-link{
    display: flex;
    margin-right: 39px;
}

